.idea/*
.vscode/*
.pytest_cache/*
.mypy_cache/*
.cache/*
.tox/*
build/
dist/
wheelhouse/
geomdl.egg-info/*
geomdl.core.egg-info/*
docs/_build
docs/_static
geomdl/core
geomdl/cli
geomdl/shapes
*.pyc
*.c
*.cpp
*.so
*.pyd
*.whl
*.tar.gz
