body {
  position: relative;
  background-repeat: repeat;
  background-image: url("images/qbkls.png");
}

html {
  font-size: 14px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1200px) { 
  html {
    font-size: 25px;
  }
}

.jumbotron {
  /*background-color:#D4E5F5 !important;*/
  background-color:#FFFFFF !important;
}

.carousel-caption-p {
  background-color: rgba(100, 100, 100, 0.7);
}
