# requirements.txt
# Python requirements for CI test runs and Docker image building

# Python packaging tools
setuptools>=40.6.3

# For compiling geomdl.core module
cython

# Required packages for visualization
numpy==1.15.4
matplotlib==2.2.3
plotly
