# requirements.txt
# Python requirements for CI test runs and Docker image building

# Python packaging tools
setuptools>=69.0.0

# For compiling geomdl.core module
cython

# For visualization
numpy>=1.24.4
matplotlib>=3.6.3
plotly>=5.19.0
